@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.alert-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  max-width: 500px;
  height: fit-content;
}

.alert-modal-header {
  display: flex;
  align-items: center;
}

.alert-modal-footer {
  display: flex;
  gap: 10px;
}

.ml-auto {
  margin-left: auto;
}

.w-fit {
  width: fit-content;
}

.cursor-pointer {
  cursor: pointer;
}
